body{
    text-align:center;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
p{
    color:#8f8f8f;
    padding:0 8%;
}

/* Sections */

.colored-section{
    background-color:#ff4c68;
    color:white;
}
.white-section{
    background-color:white;
}

/* Title Section */

.title-text{
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    font-size:4rem;
    line-height:1.5;
    margin-top:15%;
}
#title{
    overflow:hidden;
}
.container-fluid{
    padding:3% 15% 7%;
}
.navbar-brand{
    font-size:2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
}
.download-btn{
    margin:4% 6% auto auto;
}
.navig{
    padding:auto 5%; 

}
.iphone-img{
    margin-top:5%;
    width:60%;
    height:auto;
    transform:rotate(25deg);
   
    /* position:absolute; */
}
.iphone-div{
    position:absolute;
    right:10%;
   
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size:1.2rem;
}

/* Features Section */

#features{
    padding:10rem 10rem 10rem 10rem;
    position:relative;
    z-index:1;
}
.font-awesome{
    font-size:5rem;
    color:#ff4c68;
}
.font-awesome:hover{
    color:black;
}
.feature-title{
    font-weight:bold;
    margin-top:4%;
    font-size:1.5rem;
}

/* Testimonial Section */

.testimonial-image{
    border-radius:100%;
    width:10%;
    margin:20px;
}
.carousel-item{
    padding:3% 15%;
}
.testimonial-text{
    font-size:3rem;
    line-height:1.5;
}
/* Press Section */

#press{
    padding-bottom:3%;
}
.press-image{
    width:15%;
    margin:20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding:100px;
}
.pricing-col{
    margin-top:3%;
}
.pricing-text{
    font-size:3rem;
    line-height:1.5;
}

/* CTA Section */

.cta-div{
    height:30rem;
}
.cta-text{
    font-size:3rem;
    padding:10% 20%;
}
.cta-btn{
    position:relative;
    bottom:20%;
    margin:0 1% 0 1%;
}

/* Footer Section */

.footer-div{
    height:20rem;
    padding:10% 5% 10%;
}
.footer-icon{
    margin:0 0.5% 1%;
}

/* Media Query */

@media (max-width:1028px){
    .iphone-img{
        /* position:static; */
        transform:rotate(0deg);
    }
    .iphone-div{
        position:static;
    }
    .title-text{
        text-align:center;
    }
}
